:root {
  --main-font: "Open Sans", sans-serif;
  --background: #7a77aa;
  --primary-color: #fdf8fc;
  --secondary-color: #606dc3;
}

.App {
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
}

.App-logo {
  padding-top: 100px;
  padding-bottom: 20px;
  max-width: 200px;
}
